body {
    font-family: 'Open Sans', sans-serif;
    background-color: gray;
}
h1, h4 {
    font-family: 'Raleway', sans-serif;
}
.navbar {
    background-color: #140033;
}
.dropdown-menu {
    background-color: #140033;
    border-radius: 0px 0px 10px 10px;
    min-width: 0 !important;
}
.dropdown-item {
    color: white;
}
.dropdown-menu a:hover {
    color: gray;
    background-color: #140033;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.card {
    border-radius: 0px 0px 10px 10px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
a {
    color: #9999e6;
}
a:hover {
    color: #232390;
}



