html {
    height: 90%;
}
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-image: url(jeremy-bishop-200529-unsplash.jpg);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    background-color: rgb(23, 23, 23);
}
h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 75px;
    text-shadow: 5px 5px 10px black;
}
h4 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 45px;
    text-shadow: 5px 5px 10px black;
}
.navbar {
    background-color: #0e0324;
}
.dropdown-menu {
    background-color: #0e0324;
    border-radius: 0px 0px 10px 10px;
}
.dropdown-item {
    color: white;
}
.dropdown-menu a:hover {
    color: gray;
    background-color: #0e0324;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
a {
    color: #9999e6;
}
a:hover {
    color: #232390;
}

.btn-default {
    background-color: #0e0324;
    color: lightgray;
}
.btn-default:hover {
    color: gray
}
.btn-outline-default {
    border-color: #0e0324;
    color: white;
    border-radius: 10px;
}
.btn-outline-default:hover {
    background-color: #0e0324;
    color: lightgray;
}
.photo-credit {
    position: fixed;
    bottom: 5px;
    left: 5px;
    color: white;
}



