body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(prism.png);
    /* Background pattern from Toptal Subtle Patterns */
    background-color: rgb(46, 46, 46);
}
h1, h4 {
    font-family: 'Raleway', sans-serif;
}
.navbar {
    background-color: #140033;
}
.dropdown-menu {
    background-color: #140033;
    border-radius: 0px 0px 10px 10px;
}
.dropdown-item {
    color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.card {
    border-radius: 0px 0px 10px 10px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
a {
    color: #9999e6;
}
a:hover {
    color: #232390;
}
.btn-default {
    background-color: #140033;
    color: lightgray;
}
.btn-default:hover {
    color: gray
}
.card-title a {
    color: black;
    text-decoration-line: underline;
}
.card-title a:hover {
    color: rgb(70, 70, 70);
}

