{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
{% endblock %}

{% block content %}
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">        
                <div class="text-center">    
                    <h1>
                        Felix's Portfolio
                    </h1>
                    <h4>
                        Showcase Website for Personal Projects
                    </h4>
                    <div id="buttons">
                        <a href="/graphs" class="btn btn-outline-default btn-lg shadow-lg mx-2" role="button">Network Graph Project</a>
                        <a href="/restaurant" class="btn btn-outline-default btn-lg shadow-lg mx-2" role="button">Restaurant Pass/Fail Predictor</a>
                    </div>
                </div>    
            </div>
        </div>
        <small class="photo-credit">Photo by <a href="https://unsplash.com/@jeremybishop" style="color:white;">Jeremy
            Bishop</a> on <a href="https://unsplash.com/" style="color:white">Unsplash</a>
        </small>
{% endblock %}